<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<div class="logo">
				<span class="icon {{ site.icon }}"></span>
			</div>
			<div class="content">
				<div class="inner">
					<h1>{{ site.title }}</h1>
					<p><a href="tel:+61895913938">PHONE: (08) 9591 3938</a>, <a href="tel:+61417941189">MOBILE: 0417 941 189</a>
					</br>Sorry - Ladies Only</p>
				</div>
			</div>
			<nav>
				<ul>
					{% for page in site.pages  %}
					{% if page.title %}
					<!-- page.path is: {{ page.path }} -->
					<li><a href="#{{ page.title }}">{{ page.title }}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</nav>
		</header>

	<!-- Main -->
		<div id="main">